table, tr, th, td {
    border: 1px solid black;
}

td > img {
    height: auto;
    width: 100%;
    min-width: 200px;
}

th {
    padding: 0px 20px;
}

.sorted-Up {
    background: red;
    background: url("img/icon_up.svg") no-repeat right;
}

.sorted-Down {
    background: green;
    background: url("img/icon_down.svg") no-repeat right;
}

@media (max-width: 800px), handheld, (max-device-width: 800px) {
    tr > *:nth-child(3) {
        display: none;

    }

    tr > *:nth-child(4) {
        display: none;
    }
}

@media (max-width: 600px), handheld, (max-device-width: 600px) {

    tr > *:nth-child(6) {
        display: none;
    }

    tr > *:nth-child(5) {
        display: none;
    }

}

@media (max-width: 400px), handheld, (max-device-width: 400px) {
    tr > *:nth-child(7) {

        display: none;
    }
}

/*Nav-Bar*/

.nav.show {
    display: block;
}

.nav > li > a {
    display: block;
    min-height: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

nav > img {
    display: inline-block;
    float: left;
}

@media (min-width: 800px) {
    nav > * {
        float: left;
    }

    .nav > li {
        float: left;
        width: 150px;
        min-height: 40px;
    }

    .nav > li > a {
        line-height: 40px;
    }

}

/*Nav-Bar ende*/

.col-1 {
    width: 25%;
    float: left;

}

.col-2 {
    width: 50%;
    float: left;

}

.col-3 {
    width: 75%;
    float: left;

}

.col-4 {
    width: 100%;
    float: left;

}

.row {
    float: left;
    width:100%;
}

@media (min-width: 800px) {
    .col-md-1 {
        width: 25%;
        float: left;

    }

    .col-md-2 {
        width: 50%;
        float: left;


    }

    .col-md-3 {
        width: 75%;
        float: left;

    }

    .col-md-4 {
        width: 100%;
        float: left;

    }

}

.text-center {
    text-align: center;
}

.info {
    float: right;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}
.warning{
    background-color: firebrick;
    text-align: center;
}