main {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px), handheld, (max-device-width: 600px){
form{
    flex-grow: 1;
}
}


form {
    margin-top:2em;
justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: column;
    width: 400px;

}

form > input{
    flex:1;
        margin-bottom: 1em;
}