main {
    display: flex;
    width: 100vw;
    justify-content: center;
}


form {
justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: column;
}

form > input{
    flex:1;
    margin-bottom: 1em;
}

.form{
    margin-top: 1em;
    width: 25%;
}

@media (max-width: 768px), handheld, (max-device-width: 768px){
    .form{
        width:100%;
    }
}