nav {
    background-color: black;
    width: 100vw;
    color: white;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;

}

nav > * {
    min-height: 40px;
}

nav > .imageLogo {
    min-width: 50px;
    max-width: 100px;
    height: 40px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
    margin: auto;
    outline: none;
}

.active {
    background: deepskyblue;
}

body {
    margin: 0;
    padding-top: 40px;
}

.nav {
    list-style: none;
    margin: 0;
}

.navToggleList {
    border: none;
    background: none;
}

.nav > li > a {
    margin: 0;
}

.nav > li > a > span {
    margin: auto;
}

@media (min-width: 800px) {

    nav > .nav > li {
        max-width: 150px;
    }

    .navToggleList {
        display: none;
    }
}

@media (max-width: 800px), handheld, (max-device-width: 800px) {
    nav {
        justify-content: space-between;
    }

    .nav {
        display: none;
        width: 100%;
        padding: 0;
    }

    .navToggleList {
        float: right;
        margin-right: 20px;
    }

    .nav.show > li {
        min-height: 50px;
        max-width: none;
    }
}

@media (max-width: 600px), handheld, (max-device-width: 600px) {

}

@media (max-width: 400px), handheld, (max-device-width: 400px) {

}

