nav {
    background-color: black;
    width: 100vw;
    display: flex;
    color: white;
    position: fixed;
    z-index: 10;
    top: 0px;
}

nav > * {
    min-height: 40px;
}

nav > .imageLogo {
    min-width: 50px;
    max-width: 100px;
    flex-grow: 0.2;
}

.nav > li > a {
    text-decoration: none;
    color: white;
    margin: auto;
    outline:none;
}

.active {
    background: deepskyblue;
    color: red;
}

body {
    margin: 0;
    padding: 0;

}

main {
    padding-top: 40px;
}

.nav {
    display: flex;
    list-style: none;
    flex-grow: 1;
    margin: 0;
}

.navToggleList {
    border: none;
    background: none;
}

.nav > li > a {
    flex-grow: 1;
    margin: 0;
    display: flex;
}

.nav > li > a > span {
    margin: auto;
}

@media (min-width: 769px) {

    nav > .nav > li {
        max-width: 150px;
        flex-grow: 1;
        display: flex;
    }

    .navToggleList {
        display: none;
    }
}

@media (max-width: 768px), handheld, (max-device-width: 768px){
    nav {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .nav {
        display: none;
        width: 100%;
        flex-direction: column;
        order: 3;
        padding: 0;
    }

    .navToggleList {
        float: right;
        display: flex;
    }

    .nav.show {
        display: flex;
    }

    .nav.show > li {
        min-height: 50px;
        display: flex;
        max-width: none;
    }
}
